<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Match nul</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1 class="winner-title">🤝 Match nul ! La grille est pleine.</h1>
<div class="board">
    {{range .Grille}}
      {{ if eq $.Difficulty 1 }}
        <div class="row-easy">
      {{ else if eq $.Difficulty 2 }}
        <div class="row-medium">
      {{ else if eq $.Difficulty 3 }}
        <div class="row-hard">
      {{ end }}
        {{range .}}
          <div class="cell {{if eq . "🔴"}}red{{else if eq . "🟡"}}yellow{{end}}">{{.}}</div>
        {{end}}
      </div>
    {{end}}
  </div>

  <form method="POST" action="/reset">
    <button class="new-game-btn" type="submit">🔄 Nouveau jeu</button>
  </form>
</body>
</html>
