<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Puissance 4</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>PUISSANCE 4</h1>

  {{ if eq .Difficulty 1 }}
    <div class="top-controls-easy">
  {{ else if eq .Difficulty 2 }}
    <div class="top-controls-medium">
  {{ else if eq .Difficulty 3 }}
    <div class="top-controls-hard">
  {{ end }}
      {{range $i, $col := index .Grille 0}}
        <form method="POST" action="/play">
          <input type="hidden" name="col" value="{{$i}}">
          <button type="submit">⬇</button>
        </form>
      {{end}}
    </div>

  <div class="board">
    {{range .Grille}}
      {{ if eq $.Difficulty 1 }}
        <div class="row-easy">
      {{ else if eq $.Difficulty 2 }}
        <div class="row-medium">
      {{ else if eq $.Difficulty 3 }}
        <div class="row-hard">
      {{ end }}
        {{range .}}
          <div class="cell {{if eq . "🔴"}}red{{else if eq . "🟡"}}yellow{{end}}">{{.}}</div>
        {{end}}
      </div>
    {{end}}
  </div>

</body>
</html>
